In [25]:
class Standard_Course:
    Message = 'Welcome to Atomz Research'
    
    def __init__(self):
        self.courseName = 'Python for Everyone'
        self.students = []
        self.syllabus = ['Python', 'Numpy', 'Pandas']
        self.fee = 6000
        self.Duration = '2 Months'
        
        print(f'{self.Message}\nWelcome to Standard Course - {self.courseName}')
        
    def add_user(self, name):
        self.students.append(name)
        self.name = name
        print(f'''
        Hello {name},
        {self.Message}
        You have Joined {self.courseName}''')
        
    def del_User(self, name):
        self.students.remove(name)
        print(f'{name} You have removed from the class')
        
    def Course_Details(self):
            
        print(f'''
        Hello {self.name},
        Your Course Details are
        Course : {self.courseName}
        Syllabus : {self.syllabus}
        Fee : {self.fee} INR
        Duration : {self.Duration}''')

In [26]:
class Premium_Course:
    Message = 'Welcome to Atomz Research'
    
    def __init__(self):
        self.courseName = 'Python for Data Science'
        self.students = []
        self.syllabus = ['Python', 'Numpy', 'ML']
        self.fee = 8000
        self.Duration = '3 Months'
        
        print(f'{self.Message}\nWelcome to Standard Course - {self.courseName}')
        
    def add_user(self, name):
        self.students.append(name)
        self.name = name
        print(f'''
        Hello {name},
        {self.Message}
        You have Joined {self.courseName}''')
        
    def del_User(self, name):
        self.students.remove(name)
        print(f'{name} You have removed from the class')
        
    def Course_Details(self):
            
        print(f'''
        Hello {self.name},
        Your Course Details are
        Course : {self.courseName}
        Syllabus : {self.syllabus}
        Fee : {self.fee} INR
        Duration : {self.Duration}''')

In [27]:
Everyone = Standard_Course()

Welcome to Atomz Research
Welcome to Standard Course - Python for Everyone

In [28]:
Everyone.add_user('Ajith')

        Hello Ajith,
        Welcome to Atomz Research
        You have Joined Python for Everyone

In [33]:
Everyone.add_user('Parbhu')

        Hello Parbhu,
        Welcome to Atomz Research
        You have Joined Python for Everyone

In [35]:
Everyone.students

['Ajith', 'Parbhu']

In [29]:
Everyone.Course_Details()

        Hello Ajith,
        Your Course Details are
        Course : Python for Everyone
        Syllabus : ['Python', 'Numpy', 'Pandas']
        Fee : 6000 INR
        Duration : 2 Months

In [30]:
Data = Premium_Course()

Welcome to Atomz Research
Welcome to Standard Course - Python for Data Science

In [31]:
Data.add_user('Bahart')

        Hello Bahart,
        Welcome to Atomz Research
        You have Joined Python for Data Science

In [36]:
Data.add_user('Prem')

        Hello Prem,
        Welcome to Atomz Research
        You have Joined Python for Data Science

In [37]:
Data.students

['Bahart', 'Prem']

In [32]:
Data.Course_Details()

        Hello Bahart,
        Your Course Details are
        Course : Python for Data Science
        Syllabus : ['Python', 'Numpy', 'ML']
        Fee : 8000 INR
        Duration : 3 Months